<h1>Your class is confirmed!</h1>

<p>
  <%=@greeting %> <%=@schedule.educator.user.name%> ,<br/>
  Your class with <%=@schedule.learner.user.name%> has been confirmed for <%=@schedule.date_time_of_class%>. Please come back to the site at this time to recieve further instructions on how to proceed .
  Thanks!
</p>
