<%unless current_user.learner.mentor_id.nil?%>
	<p> A mentor is omeone who will meet with you on a regular basis to discuss any problems you might have. Unlike tutors, they will work with you for a continued period of time</p>
<%else%>	
<%end%>