<h1>New Subject</h1>
<%=form_for @subject do |f|%>
	<%if @subject.errors.any?%>
			<%@subject.errors.full_messages.each do |message|%>
			<ul>
				<li><%=message%></li>
			</ul>
			<%end%>
	<%end%>
	<%=f.text_field :name, placeholder: "Subject name", autofocus:true%><br/>
	<%=f.submit%>
<%end%>
